@import "../libraries/bootstrap-scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {

  font-family: 'Fira Sans', sans-serif;
}

// start jumbotron
.ms_jumbotron {

  min-height: 100vh;
  width: 100%;
}

.ms_img {

  height: 100vh;
  width: 100%;

  @include media-breakpoint-down(lg) {

    min-width: 100%;
    width: initial;
  }
}

.ms_chi-siamo {

  height: 100vh;
  
}

.ms_card-layout {

  @include media-breakpoint-between(xs, md) {
    column-count: 1;
  }
  @include media-breakpoint-between(md, xl) {
    column-count: 2;
  }
  @include media-breakpoint-up(xl) {
    column-count: 3;
  }
}

.card {
  img {
  
    transition: $transition-base;  
  }

  &:hover {
    .card-text{

      display: block;
    } 
    img {
  
      transition: $transition-base;
      // filter: invert(74%) sepia(89%) saturate(1343%) hue-rotate(0deg) brightness(105%) contrast(103%);
      filter: brightness(15%) saturate(1234%);
    }
  }
  // &:active {
  //   .card-text{
  //     display: block;
      
  //   } 
  //   img {
  
  //     transition: $transition-base;
  //     filter: opacity(45%);
  //   }
  // }
  // &:focus {
  //   .card-text{
  //     display: block;
      
  //   } 
  //   img {
  
  //     transition: 0.50s ease-in-out;
  //     filter: opacity(45%);
  //   }
  // }
}

.card-text {
  
  display: none;
}