@import "../libraries/bootstrap-scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import "../libraries/custom/mixins";
body {

  font-family: 'Fira Sans', sans-serif;
}


.ms_site-wrapper {

  background-color: #c97655;

  .ms_jumbotron, .ms_chi-siamo {

    height: 100vh;

    img.ms_img {
        
      height: 100%;
      width: 100%;
    }
  }

  header {
    


    /*** menu button (input) ***/

    #ms_toggle {
      padding-right: 18px;
    }
    
    #ms_menu-btn {display: none;}
    #ms_menu-btn:checked ~ .ms_menu-icon .ms_navicon {
        background: transparent;
    }
    #ms_menu-btn:checked ~ .ms_menu-icon .ms_navicon:before {
        transform: rotate(-45deg);
    }
    #ms_menu-btn:checked ~ .ms_menu-icon .ms_navicon:after {
        transform: rotate(45deg);
    }
    #ms_menu-btn:checked ~ .ms_menu-icon .ms_navicon:before,
    #ms_menu-btn:checked ~ .ms_menu-icon .ms_navicon:after {
        top: 0;
    }
    .ms_menu-icon {
        margin: 18px 0 18px 0;
        padding: 16px 0 16px 0;
    }


    #ms_menu-btn:checked ~ nav {

      width: 100%;
      transition: 1.5s;
      ul.ms_menu {
        display: block;
        @include ms_ul;
      }
    }

    nav {

      
      width: 0;
      transition: 1.5s;
      
      position: fixed;
      z-index: 2;
      background-color: #c97655;
      height: 100vh;

      ul.ms_menu {
        display: none;
      }
    }

    > label.ms_menu-icon {
      
      position: fixed;
      left: 25px;
      user-select: none;
      z-index: 9;
      margin: 18px 0 18px 0;
      padding: 16px 0 16px 0;
      cursor: pointer;

      > .ms_navicon {
  
        position: absolute;
        display: block;

        background: $black;
        content: '';
        height: 2px;
        transition: background .2s ease-out;
        width: 18px;
      }
  
      > .ms_navicon:before,
      > .ms_navicon:after {
  
        background: $black;
        content: '';
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
  
      > .ms_navicon:before {
  
        top: 5px;
      }
  
      > .ms_navicon:after {
  
        top: -5px;
      }
    }

    .ms_jumbotron {
  
      height: 100vh;

      #carousel {

        height: 100%;

        .carousel-inner {

          height: 100%;

          .carousel-item {

            height: 100%;

            img.ms_img {
      
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }

  }

  main {

    // padding-bottom: 100%;
  
    .card-columns {

      column-count: 1;
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
      }

      .card {
        min-height: 150px; // ???
      }

      .card-img-overlay {

        display: none;

        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow-block: auto;

          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */

          ::-webkit-scrollbar {
            display: none;
          }
        }
      }

      .card:hover,
      .card:active {

        .card-img-overlay {

          display: block;
        }
      }
    }
  }

  #team {
      background: #eee !important;
  }

  .btn-primary:hover,
  .btn-primary:focus {
      background-color: #108d6f;
      border-color: #108d6f;
      box-shadow: none;
      outline: none;
  }

  .btn-primary {
      color: #fff;
      background-color: #007b5e;
      border-color: #007b5e;
  }

  section {
      padding: 60px 0;
  }

  section .section-title {
      text-align: center;
      color: #007b5e;
      margin-bottom: 50px;
      text-transform: uppercase;
  }

  #team .card {
      border: none;
      background: #ffffff;
  }

  .image-flip:hover .backside,
  .image-flip.hover .backside {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
      border-radius: .25rem;
  }

  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }

  .mainflip {
      -webkit-transition: 1s;
      -webkit-transform-style: preserve-3d;
      -ms-transition: 1s;
      -moz-transition: 1s;
      // -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transition: 1s;
      transform-style: preserve-3d;
      position: relative;
  }

  .frontside {
      position: relative;
      // -webkit-transform: rotateY(0deg);
      // -ms-transform: rotateY(0deg);
      z-index: 2;
      margin-bottom: 30px;
  }

  .backside {
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }

  .frontside,
  .backside {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transition: 1s;
      -moz-transform-style: preserve-3d;
      -o-transition: 1s;
      -o-transform-style: preserve-3d;
      -ms-transition: 1s;
      -ms-transform-style: preserve-3d;
      transition: 1s;
      transform-style: preserve-3d;
  }

  .frontside .card,
  .backside .card {
      min-height: 512px;
  }

  .backside .card a {
      font-size: 18px;
      color: #007b5e !important;
  }

  .frontside .card .card-title,
  .backside .card .card-title {
      color: #007b5e !important;
  }

  // .frontside .card .card-body img {

  // }


}




// MEDIAQUERY //
.ms_site-wrapper {

  @include media-breakpoint-up(md) {
  
    header {
  
      display: flex;
      justify-content: flex-end;
  
      > #ms_toggle {
  
        display: none;
      }
  
      nav {

        display: block !important;
        position: fixed;
        z-index: 1;
        width: 25%;
        left: 0;
        height: 100%;
        background-color: $yellow;

        ul.ms_menu {@include ms_ul;}
      }
  
      .ms_jumbotron {
  
        height: 100vh;
        flex-basis: 75%;
  
        #carousel {
          height: 100%;
  
          .carousel-inner {
            height: 100%;
  
            .carousel-item {
              height: 100%;
  
              img.ms_img {
        
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }
  
    main {
    
      width: 75% !important;
      margin-left: 25% !important;
      max-width: none !important;

      .card-columns {

        column-count: 2;

      }
    }
  };
  @include media-breakpoint-up(xl) {
    main {
  
      .card-columns {

        column-count: 3;

      }
    }
  }
}